Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

#### Solution -

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### Answer -

In loc function, we can get any column and row from DataFrame by using the column and row name that we see and In the iloc function, we can get the column and row by index that Python saved

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].          

Did you observe any difference in both the outputs? If so then explain it.

#### Solution -

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
reindex = [3,0,1,2]

In [6]:
new_df = df.reindex(reindex)

In [7]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Consider the below code to answer further questions:

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:  
(i) mean of each and every column present in the dataframe.    
(ii) standard deviation of column, ‘column_2’

#### Solution -

In [11]:
df1.mean()

column_1    0.523712
column_2    0.327678
column_3    0.659302
column_4    0.602493
column_5    0.425962
column_6    0.484674
dtype: float64

In [12]:
df1["column_2"].std()

0.2096195324194472

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.    
If you are getting errors in executing it then explain why.   
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

#### Solution -

In [13]:
df1.loc[2,"column_2"] = "abc"

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.739516  0.062225  0.251805  0.578899  0.047628  0.512110
2  0.463953       abc  0.931661  0.252113  0.625816  0.436046
3  0.444084  0.191187  0.959252  0.374070  0.187877  0.951363
4  0.894429   0.64114  0.812239  0.621275  0.843431  0.590268
5  0.409385  0.474503  0.598745  0.943634  0.202007  0.360372
6  0.190904  0.365917  0.402109  0.844967  0.649015  0.057883

In [15]:
df1["column_2"].mean() ## An error occurred because the mean operation works only between numbers

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

#### Answer -

Using Windows we can perform any operation on as many elements as we want.         
There are several types of window functions :-        
- mean       
- median       
- std         
- var              
- min        
- max          
- sum

Q7. Write a code to print only the current month and year at the time of answering this question.    
[Hint: Use pandas.datetime function]

#### Solution -

In [16]:
cd = pd.Timestamp.now()

In [17]:
cd

Timestamp('2024-04-22 15:02:37.135584')

In [18]:
cd.month # Month

4

In [19]:
cd.year # Year

2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

#### Solution -

In [20]:
def diff():
    start_date = input("Enter the start date [YYYY-MM-DD]")
    end_date = input("Enter the end date [YYYY-MM-DD]")
    
    start_dt = pd.to_datetime(start_date)
    end_dt = pd.to_datetime(end_date)
    
    tm_diff = end_dt-start_dt
    
    days = tm_diff.days
    hours = tm_diff.seconds//3600
    minutes = (tm_diff.seconds%3600)//60
    print(f"Time difference :{days} days,{hours} hours,{minutes} minutes")

In [21]:
diff()

Enter the start date [YYYY-MM-DD] 2024-02-01
Enter the end date [YYYY-MM-DD] 2024-03-25

Time difference :53 days,0 hours,0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

#### Solution -

I am not able to solve this question because i have not done this kind of study yet.

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

#### Solution -

I am not able to solve this question because i have not done this kind of study yet.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.      

The program should do the following:       
    
- Prompt the user to enter the file path of the CSV file containing the student data.       
- Read the CSV file into a Pandas DataFrame.           
- Calculate the mean, median, and mode of the test scores using Pandas tools.         
- Display the mean, median, and mode in a table.       

Assume the CSV file contains the following columns:          
    
- Student ID: The ID of the student.       
- Test Score: The score of the student's test.       

Example usage of the program:        
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+       
| Statistic | Value |        
+-----------+--------+         
| Mean | 79.6 |          
| Median | 82 |            
| Mode | 85, 90 |           
+-----------+--------+        

Assume that the CSV file student_data.csv contains the following data:      
Student ID,Test Score       
1,85       
2,90         
3,80             
4,75             
5,85                
6,82           
7,78              
8,85                 
9,90              
10,85                    
          
The program should calculate the mean, median, and mode of the test scores and display the results in a table.

#### Solution -

In [22]:
df_1 = pd.DataFrame({"Student ID":[1,2,3,4,5,6,7,8,9,10],
              "Test Score":[85,90,80,75,85,82,78,85,90,85]})

In [23]:
df_1

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [24]:
df_1.to_csv("student_data.csv",index=False)

In [25]:
def ts_cal():
    csv = input("enter the csv file")
    cv = pd.read_csv(csv)
    mn  = cv["Test Score"].mean()
    md = cv["Test Score"].median()
    mo = cv["Test Score"].mode().tolist()
    return f"Mean - {mn}, Median- {md}, Mode- {mo}"

In [26]:
ts_cal()

enter the csv file student_data.csv

'Mean - 83.5, Median- 85.0, Mode- [85]'